@import "../mixins";

.projects {
  &__container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__heading {
    @include h2;

    margin: 0;
    color: white;
  }

  &__list {
    @include resetList;

    margin-top: 5rem;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 15rem;
    }
  }
}

@media (max-width: $adaptiveMax) {
  .projects {
    &__item {
      &:not(:first-child) {
        margin-top: 7rem;
      }
    }
  }
}
