@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: $colorDarkest;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15%;
}

.section {
  padding-left: var(--padding-global-l);
}

.container {
  padding: 0 10rem;
}

.content {
  min-height: 100vh;
}

.preloaderPage {
  height: calc(100vh - var(--padding-global-v) - 2rem);
}

.modules {
  position: relative;
  display: inline-block;
  padding-top: 3rem;
  color: white;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: -0.5rem;
    width: 4.6rem;
    height: 4.6rem;
    border: 1px solid white;
    opacity: 0.5;
  }
}

.fullImage {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
}

@media (max-width: $adaptiveMax) {
  html {
    font-size: 9px;
  }

  .content {
    padding: var(--padding-global-v) 0 2rem 0;
  }

  .container {
    padding: 0 2rem;
  }
}

@media (max-width: $mobileMax) {
  html {
    font-size: 8px;
  }
}
