@import "./variables";

// Font mixins
@mixin h1 ($color: $colorLightest) {
  font-family: "Igra", "Arial", sans-serif;
  font-size: 4.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: $color;
}

@mixin highlight ($color: $colorLightest, $weight: 600) {
  font-family: "SFPro", Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: $weight;
  line-height: 1.15;
  color: $color;
}

@mixin navigation ($color: $colorDarkest) {
  font-family: "Igra", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
  color: $color;
}

@mixin regular ($color: $colorLightest) {
  font-family: "SFPro", Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3;
  color: $color;
}

//Reset mixins
@mixin resetList {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin resetButton {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

// Style mixins
@mixin link {
  transition-duration: $transitionDuration;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $colorMain;
  }
}
