$colorLightest: rgb(255, 255, 255);
$colorLightestOpacity: rgba(255, 255, 255, 0.5);
$colorMain: rgb(243, 255, 185);
$colorHighlight: rgb(128, 149, 71);
$colorDark: rgb(0, 77, 77);
$colorDarkTransparent: rgba(0, 77, 77, 0.5);
$colorDarkest: rgb(0, 34, 34);

$transitionDuration: 0.3s;
$adaptiveMax: 1260px;
$mobileMax: 767px;

body {
  --padding-global-l: 20rem;
  --padding-global-v: 10rem;

  @media (max-width: $adaptiveMax) {
    --padding-global-l: 0;
    --padding-h: 2rem;
  }
}
